In [1]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.decomposition import NMF

In [2]:
df = pd.read_csv('spam.csv', encoding='latin-1')
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [3]:
df = df[['v1', 'v2']]

In [4]:
df.head()

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [5]:
df.rename(columns={'v1': 'Spam', 'v2': 'Text'},inplace =True)

In [6]:
df.head()

   Spam                                               Text
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [7]:
tfid = TfidfVectorizer()
x = tfid.fit_transform(df['Text'])

In [8]:
df1 = pd.DataFrame(x.toarray(), columns=tfid.get_feature_names())

In [9]:
df1.head()

,00,000,000pes,008704050406,0089,0121,01223585236,01223585334,0125698789,02,...,ó_,û_,û_thanks,ûªm,ûªt,ûªve,ûï,ûïharry,ûò,ûówell
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [80]:
nmf = NMF(n_components = 25)
nmf.fit(x)
x = nmf.transform(x)

In [81]:
final_df = pd.DataFrame(x)
final_df.head()

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
0,0.000116,6.152473e-04,0.005388,0.000000,0.000000,3.160899e-18,0.0,1.259311e-02,0.000000,0.001050,...,0.001689,0.000000,0.002179,0.018020,0.033563,0.026832,0.001306,9.500555e-04,0.000744,0.000000e+00
1,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000e+00,0.0,2.115150e-27,0.000000,0.000000,...,0.000000,0.001448,0.000859,0.017437,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000e+00
2,0.000000,1.105045e-18,0.000000,0.000000,0.098268,0.000000e+00,0.0,4.296386e-24,0.000000,0.000000,...,0.011711,0.000000,0.000000,0.000000,0.020802,0.000000,0.000000,2.394018e-19,0.000000,0.000000e+00
3,0.000000,2.849157e-02,0.000000,0.001939,0.000000,1.362425e-02,0.0,0.000000e+00,0.000000,0.000000,...,0.000000,0.000654,0.000000,0.064769,0.000000,0.006981,0.000000,0.000000e+00,0.003147,0.000000e+00
4,0.001826,5.958927e-02,0.032366,0.003050,0.028742,0.000000e+00,0.0,0.000000e+00,0.005497,0.002595,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.008125,0.000156,0.000000e+00,0.020321,4.646595e-14

In [82]:
final_df['Spam'] = df['Spam']
final_df.head()

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,Spam
0,0.000116,6.152473e-04,0.005388,0.000000,0.000000,3.160899e-18,0.0,1.259311e-02,0.000000,0.001050,...,0.000000,0.002179,0.018020,0.033563,0.026832,0.001306,9.500555e-04,0.000744,0.000000e+00,ham
1,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000e+00,0.0,2.115150e-27,0.000000,0.000000,...,0.001448,0.000859,0.017437,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000e+00,ham
2,0.000000,1.105045e-18,0.000000,0.000000,0.098268,0.000000e+00,0.0,4.296386e-24,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.020802,0.000000,0.000000,2.394018e-19,0.000000,0.000000e+00,spam
3,0.000000,2.849157e-02,0.000000,0.001939,0.000000,1.362425e-02,0.0,0.000000e+00,0.000000,0.000000,...,0.000654,0.000000,0.064769,0.000000,0.006981,0.000000,0.000000e+00,0.003147,0.000000e+00,ham
4,0.001826,5.958927e-02,0.032366,0.003050,0.028742,0.000000e+00,0.0,0.000000e+00,0.005497,0.002595,...,0.000000,0.000000,0.000000,0.000000,0.008125,0.000156,0.000000e+00,0.020321,4.646595e-14,ham

In [83]:
final = pd.get_dummies(final_df, drop_first=True, columns=['Spam'])
final.head()

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,Spam_spam
0,0.000116,6.152473e-04,0.005388,0.000000,0.000000,3.160899e-18,0.0,1.259311e-02,0.000000,0.001050,...,0.000000,0.002179,0.018020,0.033563,0.026832,0.001306,9.500555e-04,0.000744,0.000000e+00,0
1,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000e+00,0.0,2.115150e-27,0.000000,0.000000,...,0.001448,0.000859,0.017437,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000e+00,0
2,0.000000,1.105045e-18,0.000000,0.000000,0.098268,0.000000e+00,0.0,4.296386e-24,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.020802,0.000000,0.000000,2.394018e-19,0.000000,0.000000e+00,1
3,0.000000,2.849157e-02,0.000000,0.001939,0.000000,1.362425e-02,0.0,0.000000e+00,0.000000,0.000000,...,0.000654,0.000000,0.064769,0.000000,0.006981,0.000000,0.000000e+00,0.003147,0.000000e+00,0
4,0.001826,5.958927e-02,0.032366,0.003050,0.028742,0.000000e+00,0.0,0.000000e+00,0.005497,0.002595,...,0.000000,0.000000,0.000000,0.000000,0.008125,0.000156,0.000000e+00,0.020321,4.646595e-14,0

In [84]:
final.rename(columns = {'Spam_spam': 'Spam'}, inplace = True)
final.head()

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,Spam
0,0.000116,6.152473e-04,0.005388,0.000000,0.000000,3.160899e-18,0.0,1.259311e-02,0.000000,0.001050,...,0.000000,0.002179,0.018020,0.033563,0.026832,0.001306,9.500555e-04,0.000744,0.000000e+00,0
1,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000e+00,0.0,2.115150e-27,0.000000,0.000000,...,0.001448,0.000859,0.017437,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000e+00,0
2,0.000000,1.105045e-18,0.000000,0.000000,0.098268,0.000000e+00,0.0,4.296386e-24,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.020802,0.000000,0.000000,2.394018e-19,0.000000,0.000000e+00,1
3,0.000000,2.849157e-02,0.000000,0.001939,0.000000,1.362425e-02,0.0,0.000000e+00,0.000000,0.000000,...,0.000654,0.000000,0.064769,0.000000,0.006981,0.000000,0.000000e+00,0.003147,0.000000e+00,0
4,0.001826,5.958927e-02,0.032366,0.003050,0.028742,0.000000e+00,0.0,0.000000e+00,0.005497,0.002595,...,0.000000,0.000000,0.000000,0.000000,0.008125,0.000156,0.000000e+00,0.020321,4.646595e-14,0

In [85]:
final['Spam'].value_counts()

0    4825
1     747
Name: Spam, dtype: int64

In [86]:
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split

In [87]:
final.iloc[:,0:25]

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
0,0.000116,6.152473e-04,0.005388,0.000000e+00,0.000000e+00,3.160899e-18,0.000000e+00,1.259311e-02,0.000000,0.001050,...,0.001689,0.000000e+00,0.002179,0.018020,0.033563,0.026832,0.001306,9.500555e-04,0.000744,0.000000e+00
1,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.115150e-27,0.000000,0.000000,...,0.000000,1.447590e-03,0.000859,0.017437,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000e+00
2,0.000000,1.105045e-18,0.000000,0.000000e+00,9.826798e-02,0.000000e+00,0.000000e+00,4.296386e-24,0.000000,0.000000,...,0.011711,0.000000e+00,0.000000,0.000000,0.020802,0.000000,0.000000,2.394018e-19,0.000000,0.000000e+00
3,0.000000,2.849157e-02,0.000000,1.939070e-03,0.000000e+00,1.362425e-02,0.000000e+00,0.000000e+00,0.000000,0.000000,...,0.000000,6.541939e-04,0.000000,0.064769,0.000000,0.006981,0.000000,0.000000e+00,0.003147,0.000000e+00
4,0.001826,5.958927e-02,0.032366,3.050269e-03,2.874185e-02,0.000000e+00,0.000000e+00,0.000000e+00,0.005497,0.002595,...,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.008125,0.000156,0.000000e+00,0.020321,4.646595e-14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5567,0.000000,0.000000e+00,0.000000,9.923735e-03,0.000000e+00,4.140693e-03,2.578827e-03,0.000000e+00,0.000000,0.000002,...,0.044612,5.086476e-25,0.000000,0.000000,0.000000,0.000736,0.000000,4.389415e-02,0.000000,0.000000e+00
5568,0.000000,0.000000e+00,0.163663,5.964293e-18,4.764922e-12,0.000000e+00,3.858799e-18,5.037048e-02,0.000000,0.000000,...,0.000000,0.000000e+00,0.000000,0.038498,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000e+00
5569,0.000000,1.464014e-01,0.000000,0.000000e+00,0.000000e+00,8.152975e-03,0.000000e+00,0.000000e+00,0.000000,0.001192,...,0.011834,0.000000e+00,0.000000,0.000000,0.044750,0.000000,0.041226,2.068557e-03,0.002302,0.000000e+00
5570,0.000000,9.481931e-03,0.090672,5.125916e-02,0.000000e+00,0.000000e+00,0.000000e+00,1.495490e-02,0.000000,0.001645,...,0.011506,0.000000e+00,0.000000,0.004431,0.031312,0.000000,0.006440,1.849750e-02,0.029282,0.000000e+00
5571,0.000000,3.872008e-03,0.000000,1.769066e-02,6.259294e-02,0.000000e+00,0.000000e+00,0.000000e+00,0.000986,0.005050,...,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.008221,3.804549e-03,0.001243,0.000000e+00

In [88]:
X_train, X_test, y_train, y_test = train_test_split(final.iloc[:,0:30].values, final['Spam'].values)

In [89]:
model = GaussianNB()
model.fit(X_train, y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [90]:
model.score(X_test, y_test)

1.0

In [91]:
X_train.shape

(4179, 26)

In [92]:
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix

In [93]:
y_pred = model.predict(X_test)
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00      1214
           1       1.00      1.00      1.00       179

    accuracy                           1.00      1393
   macro avg       1.00      1.00      1.00      1393
weighted avg       1.00      1.00      1.00      1393

In [66]:
print(confusion_matrix(y_test,y_pred))

[[829 369]
 [ 14 181]]

In [94]:
model.score(X_train, y_train)

1.0

In [95]:
X_train

array([[0.00000000e+00, 1.69305965e-03, 0.00000000e+00, ...,
        2.25770305e-04, 0.00000000e+00, 0.00000000e+00],
       [2.59619961e-02, 0.00000000e+00, 0.00000000e+00, ...,
        1.05856025e-02, 0.00000000e+00, 0.00000000e+00],
       [8.63060434e-03, 9.50636320e-04, 0.00000000e+00, ...,
        1.35788331e-02, 0.00000000e+00, 0.00000000e+00],
       ...,
       [0.00000000e+00, 0.00000000e+00, 0.00000000e+00, ...,
        0.00000000e+00, 0.00000000e+00, 1.00000000e+00],
       [0.00000000e+00, 5.00978185e-03, 1.04285649e-02, ...,
        1.51009956e-03, 0.00000000e+00, 0.00000000e+00],
       [0.00000000e+00, 0.00000000e+00, 0.00000000e+00, ...,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00]])